certifi
charset-normalizer
contourpy
cycler
dnspython
filelock
fonttools
fsspec
idna
Jinja2
kiwisolver
line_notify
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pandas
pillow
psutil
py-cpuinfo
pygame
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
requests
scipy
seaborn
six
sympy
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
modbus-tk
pyserial
Jetson.GPIO
